@import "./reset";

.button {
  display: inline-block;
  border: none;
  font-family: "p22_undergroundregular",sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.green-button {
  background: #5ab48b;
  color: #ffffff;
}

.req-interview {
  font-size: 12px;
  margin: 0 0 15px 0;
  padding: 1.3em 2em;
}
