@media only screen and (min-width: 1024px) {

  .bar .container {
    max-width: 1000px;
  }

  .logo {
    margin: 0 auto;
    margin-top: 14px;
    display: block;

  }

  .your-cart {
    background: #fff;
    border: 1px solid #e6e6e6;
    position: fixed;
    right: 0;
    top: -1px;
    width: 400px;
    z-index: 10;
  }

  .checkout {
    position: fixed;
    right: 0;
    top: -1px;
    width: 400px;
    z-index: 10;
  }

  .search-container form{
      position: relative;
      top: 50%;
      transform: translateY(-50%);

  }

  .col-1 {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .col-2 {
    float: right;
    width: 50%;
    padding: 10px;
  }

  .stories .article {
    margin-top: 0;
    margin: 0;
  }

  .stories .more a {
    padding-top: 45px;
  }

  .col-odd {
    width: 25% !important;
  }
  .col-even {
    width: 25% !important;
  }
}
