@import "./reset";
@import "./config";
@import "./colors";
@import "./menu";
@import "./header";
@import "./logo";
@import "./navbar";
@import "./button";
@import "./fonts";
@import "./checkout";
@import "./search";
@import "./slides";
@import "./about";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}



